<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <!--<add key="SourceFolder" value="I:\Videos"/>-->
    <add key="SourceFolder" value="S:\Game Recordings\Overwolf\"/>
    <!--<add key="TargetFolder" value="D:\Videos\My Movies\"/>-->
    <add key="ExtensionsToListenFor" value=".mp4,.m4v,.mkv,.avi,.flv,.mov,.wmv,.vob,.mpg,.mpeg"/>
    <add key="WaitInterval" value=".5"/>
  </appSettings>
</configuration>